*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    padding: 2rem 5rem;
}

.nav-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo-container{
    display: flex;
}

.logo-container>div{
    padding: 0.1rem 0.3rem;
}

.logo-container div img{
    height: 2.5rem;
    width: 2.3rem;
}

.logo-title{
    font-style: italic;
}

.logo-title h1{
    padding-top: 0.4rem;
}

.nav-menu{
    /* padding: 0.6rem 28rem;
    padding-right: 0.1rem; */
}

.nav-menu ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .nav-menu li{
    display: inline-block;
} */

.nav-menu a{
    color: rgb(6, 71, 6);
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    font-size: 1.12rem;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-menu a:hover{
    background-color: rgb(6, 71, 6);
    color:aliceblue;
    border-radius: 1rem;
}

/* .nav-link{
    transition: 0.7s ease;
} */

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

.reserve-grina-btn{
    border: none;
    border-radius: 1rem;
    background-color: rgb(6, 71, 6);
    color: aliceblue;
    padding: 0.5rem 1.2rem;
    cursor: pointer;
    font-size: 1.12rem;
    font-family: Arial, Helvetica, sans-serif;
}

@media(max-width:910px){
    .hamburger{
        display: block;
    }

    .hamburger .active .bar:nth-child(2){
        opacity:0;
    }

    .hamburger .active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger .active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        display: none;
    }
    
    .nav-menu ul{
        gap: 5px;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
        text-align: center;
    }

    .nav-menu .active{
        display: block;
        background-color: rgb(219, 246, 226);
        position: relative;
        top: 50px;
        display: none;
        background-color: rgb(219, 246, 226);
        width: 100%;
        padding: 0.8rem;
    }

}



.top-btn{
    /* display: none;ghh */
    position: fixed;
    z-index: 10;
    right: 1.2rem;
    bottom: 1rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    background-color: rgba(128, 128, 128, 0.694);
    border: none;
    /* border: 0.1rem solid gray; */
    cursor: pointer;
}

.top-btn:hover{
    background-color: grey;
    color: white;
}

.home{
    padding: 2.5rem 5rem;
}

.home-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}

.home-bd{
    flex: 1;
}

.home-bd-info{
    width: 50%;
    /* padding-right: 4rem; */
}

.home-bd-info h1{
    color: rgb(13, 137, 13);
    font-style: italic;
}

.home-bd-info p{
    padding: 2.5rem 0rem;
    text-align: justify;
}

.home-bd-img img{
    height: 15rem;
    width: 35rem;
    border-radius: 1rem;
}

.section-heading{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(6, 71, 6);
    padding: 0.4rem 0rem;
    
}

.section-sub-heading{
    color: rgb(13, 137, 13);
    font-style: italic;
    padding: 0;
}

.features{
    padding: 2.5rem 5rem;
}

.features-div{
    box-shadow: 0px 0px 15px grey;
    border-radius: 0.5rem;
    padding: 2rem;
}

.features-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 1rem;
    position: relative;
    justify-content: space-between;
}

.features-bd{
    border-radius: 1rem;
    height: 20rem;
    width: 34rem;
    background-size: cover;
    /* margin: 0.5rem;
    margin-top: 0rem; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.features-bd:hover{
    transform: scale(1.02);
    box-shadow: 0rem 0rem 1rem grey;
}

.features-bd p{
    color: aliceblue;
    padding-bottom: 1rem;
    font-size: 1.3rem;
    font-style: italic;
    /* text-shadow: 0px 0px 1px black; */
}    

.features-bd-img1{
    background-image: url("../img/features-img1.webp"); 
}

.features-bd-img2{
    background-image: url("../img/features-img2.jpg");
}

.installation{
    margin: 2.5rem 5rem;
}

.installation-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 1rem;
    position: relative;
}

.installation-bd{
    height: 25rem;
    width: 36rem;
    background-size: cover;
    border-radius: 1rem;
    /* margin: 0.5rem;
    margin-top: 0rem; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.installation-bd p{
    color: aliceblue;
    padding-bottom: 1.3rem;
    font-size: 1.5rem;
    font-style: italic;
    /* text-shadow: 0px 0px 1px black; */
}    

.installation-bd-img1{
    background-image: url("../img/installation-img1.jpg"); 
}

.installation-bd-img2{
    background-image: url("../img/installation-img2.jpg");
}

.aboutFounder{
    padding: 2.5rem 5rem;
}

.aboutFounder-container{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.aboutFounder-bd-info{
    width: 65%;
}

.aboutFounder-bd-img{
    width: 30%;
}

.aboutFounder-bd-info h2+p{
    text-align: justify;
    padding: 1.5rem 0rem;
}

.aboutFounder-bd-info h2+p+p{
    font-weight: bolder;
    color: rgb(6, 71, 6);
    padding: 0.3rem 0rem;
}

.aboutFounder-bd-info h2+p+p+p{
    color: rgb(13, 137, 13);
}

.aboutFounder-bd-img img{
    width: 24rem;
    height: 10rem;
    border-radius: 1rem;
}

.faq{
    padding: 2.5rem 5rem;
}

.faq-heading{
    padding: 1rem;
}

.faq-heading h5, .faq-heading h2{
    text-align: center;
}

.faq-qn{
    margin: 1rem 0rem;
    background-color: rgb(187, 255, 135);
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.faq-qn h4{
    padding-bottom: 0.5rem;
    color: rgb(13, 137, 13);
    font-family: Arial, Helvetica, sans-serif;
}

.timeline{
    padding: 2.5rem 5rem;
    text-align: center;
}

.timeline-description{
    padding: 3rem 4rem 5rem 4rem;
    background-image: url("../img/timeline-img.jpg");
    border-radius: 1rem;
    color: aliceblue;
    margin-top: 1rem;
}

.timeline-description p{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 0.8rem;
}

.register-btn{
    padding: 2rem;
}

.register-btn button{
    background-color: green;
    border-radius: 1rem;
    border: none;
    padding: 0.5rem 1rem;
    color: aliceblue;
}

.whyVyana{
    padding: 2.5rem 5rem;
    background-color: rgb(187, 255, 135);
}

.whyVyana-heading{
    text-align: center;
}

.whyVyana-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.whyVyana-img-descrip{
    padding: 0.5rem;
    background-color: aliceblue;
    margin: 1rem;
    height: auto;
    width: 22rem;
    border-radius: 0.6rem;
}

.whyVyana-img-descrip img{
    height: 20rem;
    width: 21rem;
    border-radius: 0.6rem;
}

.whyVyana-descrip{
    padding: 1rem;
}

.whyVyana-descrip h4{
    color: rgb(13, 137, 13);
    font-style: italic;
}

.whyVyana-descrip p{
    padding-top: 0.3rem;
    color: rgb(6, 71, 6); ;
}

.extraFeatures{
    padding: 2.5rem 5rem;
    text-align: center;
}

.extraFeatures-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.5rem 0rem;
}

.extraFeatures-bd{
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0rem 0.3rem 0.5rem grey;
}

.extraFeatures-bd img{
    object-fit: cover;
    width: 16.5rem;
    height: 15rem;
}

.extraFeatures-descrip{
    padding: 0.5rem 1rem;
    text-align: left;
}

.extraFeatures-pagination{
    background-color: rgb(255, 209, 211);
    text-align: center;
}

.extraFeatures-pagination a{
    text-decoration: none;
    font-size: 1.5rem;
    display: inline-block;
    padding: 0.5rem 0.5rem;
    font-style: italic;
}

.dataAnalysis{
    background-color: rgba(182, 187, 191, 0.577);
    border-radius: 1rem;
}

.dataAnalysis h5, .dataAnalysis h2{
    text-align: center;
}

.dataAnalysis>div{
    padding: 2.5rem 5rem;
}

.dataAnalysis table{
    width: 100%;
    text-align: center;
}

.dataAnalysis-table{
    padding-top: 2rem;
}

.dataAnalysis table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.dataAnalysis th, td{
    padding: 0.5rem 0rem;
}

.contactUs{
    padding: 2.5rem 5rem;
}

.contactUs-container{
    display: flex;
    padding: 1rem;
    background-image: url(../img/contactUs.jpg);
    background-size: contain;
    position: relative;
    /* flex-wrap: wrap; */
}

/* .contactUs-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: inherit;
    backdrop-filter: blur(10px);
    z-index: -1;
} */

.lists{
    padding: 2.5rem 5rem;
}

.list{
    text-align: center;
}

.list-upperContainer{
    display: flex;
    padding: 1rem 0rem;
    justify-content: space-between;
}

.listDisc ul{
    list-style-type: disc;
}

.listCircle ul{
    list-style-type: circle;
}

.listSquare ul{
    list-style-type: square;
}

.list-lowerContainer{
    display: flex;
    padding: 1rem 0rem;
    justify-content: space-between;
}

.listDecimal ol{
    list-style-type: decimal;
}

.listDecimalLeadingZero ol{
    list-style-type: decimal-leading-zero;
}

.listUpperAlpha ol{
    list-style-type: upper-alpha;
}

.footer{
    padding: 4.5rem 5rem;
}

.footer a{
    text-decoration: none;
    color: black;
}

.footer-upperBd-container{
    display: flex;
    padding: 0.5rem;
}

.footer-inner-container{
    display: flex;
}

.footer-inner-container img{
    padding-bottom: 0.5rem;
    height: 4rem;
    width: 4rem;
}

.footer-inner-container h1{
    padding: 1rem 0.5rem;
    font-style: italic;
    padding-right: 15rem;
}

.footer-links p{
    padding: 0.5rem 7rem;
    padding-right: 4rem;
}

.footer-lowerBd-container{
    display: flex;
    padding: 1rem;
    justify-content: space-between;
}

.footer-lower-left{
    display: flex;
}

.footer-email i{
    padding: 0rem 0.4rem;
}

.footer-twitter-link{
    padding-left: 2rem;
}






